@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
.hero, .features, .team, .partners, .portfolio {
  width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 767px) {
  .hero, .features, .team, .partners, .portfolio {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .hero, .features, .team, .partners, .portfolio {
    width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header_conteiner, .features__conteiner, .team__conteiner, .partners .partners__conteiner, .portfolio__conteiner, .footer-conteiner {
  width: 480px;
  padding: 0 15px 0 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header_conteiner, .features__conteiner, .team__conteiner, .partners .partners__conteiner, .portfolio__conteiner, .footer-conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .header_conteiner, .features__conteiner, .team__conteiner, .partners .partners__conteiner, .portfolio__conteiner, .footer-conteiner {
    width: 1200px;
  }
}

.header_conteiner, .nav, .nav__list, .hero, .icon__wrapper, .production__list, .social-list, .m-socials__list, .partners .partners__list, .portfolio__button-list, .agreement-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__link, .nav__link, .contacts__link, .m-socials__link, .portfolio__card-link, .address__link, .m-nav__link, .m-contacts__link {
  text-decoration: none;
}

.nav__list, .contacts__list, .features__list, .production__list, .team__list, .social-list, .m-socials__list, .partners .partners__list, .portfolio__button-list, .portfolio__card-list, .address__list, .m-nav__list, .m-contacts__list {
  list-style: none;
}

.button__hero, .button__subscribe {
  width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}

.nav__link:hover, .contacts__link:hover, .address__link:hover, .m-nav__link:hover, .nav__link:focus, .contacts__link:focus, .address__link:focus, .m-nav__link:focus {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.social-link:hover, .social-link--footered:hover, .social-link:focus, .social-link--footered:focus {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
  background-color: #2196f3;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header_conteiner {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 0;
}

.logo--blue-part {
  color: #2196f3;
}

.logo--black-part {
  color: #212121;
}

.logo--white-part {
  color: #ffffff;
}

.logo--footered {
  padding-top: 0;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .logo--headered {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1600px) {
  .logo {
    font-size: 26px;
  }
  .logo--headered {
    margin-right: 92px;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .nav__list {
    margin-right: 84px;
  }
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.nav__link--current {
  position: relative;
}

.nav__link--current::after {
  position: absolute;
  content: '';
  height: 4px;
  left: 0;
  right: 0;
  bottom: -3px;
  border-radius: 2px;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .m-nav-menu {
    display: none;
  }
}

.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  fill: currentColor;
}

.contacts__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.contacts__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 10px;
}

.contacts__item {
  margin-right: 30px;
}

.contacts__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .contacts {
    font-size: 12px;
  }
  .contacts__item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contacts__item:last-child {
    margin-bottom: 0;
  }
  .contacts__link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contacts__icon--mail {
    width: 14px;
    height: 10px;
  }
  .contacts__icon--phone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1600px) {
  .contacts {
    margin-left: auto;
  }
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__icon--mail {
    width: 16px;
    height: 12px;
  }
  .contacts__icon--phone {
    width: 10px;
    height: 16px;
  }
}

.hero {
  width: 100%;
  padding: 118px 60px;
  text-align: center;
  border-right-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/m.hero-bg-image.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/m.hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .hero {
    padding: 118px 204px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/t.hero-bg-image.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/t.hero-bg-image.jpg);
  }
}

@media screen and (min-width: 1600px) {
  .hero {
    padding: 200px 452px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-image.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-image.jpg);
  }
}

.hero__title {
  width: 360px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1600px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.icon__wrapper {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
}

.features__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__title {
  text-align: center;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  __item {
    margin-bottom: 30px;
  }
  __item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__item {
    width: calc(47.9%);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features__item:nth-child(2n) {
    margin-right: 0;
  }
  .features__item:nth-child(n + 5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1600px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 94px;
  }
  .features__item {
    max-width: 270px;
    margin-right: 30px;
  }
  .features__item:last-child {
    margin-right: 0;
  }
}

.production {
  display: block;
}

@media screen and (max-width: 1599px) {
  .production {
    display: none;
  }
}

.production__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  color: #212121;
}

.production__item {
  margin-right: 30px;
}

.production__item:last-child {
  margin-right: 0;
}

.production__wrapper {
  position: relative;
}

.production__image {
  display: block;
  max-width: 100%;
}

.production__description {
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  color: #212121;
}

.team-member {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.team-member:last-child {
  margin-bottom: 0;
}

.team-member__img {
  width: 450px;
}

.team-member__name {
  padding: 30px 0 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-member__position {
  padding-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .team-member {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team-member:nth-child(2n) {
    margin-right: 0;
  }
  .team-member:nth-child(n + 5) {
    margin-bottom: 0;
  }
  .team-member__img {
    width: 354px;
  }
}

@media screen and (min-width: 1600px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .team__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
  }
  .team-member {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team-member:last-child {
    margin-right: 0;
  }
  .team-member__img {
    width: 270px;
  }
}

.social-list {
  padding: 0 32px 30px;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list--nopadding {
  margin: 0;
  padding: 0;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: #afb1b8;
  background-color: #ffffff;
  fill: currentColor;
}

.social-link--footered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  fill: currentColor;
}

.social-links {
  margin-bottom: 60px;
}

.social-links__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-links--footered {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .social-links {
    margin-bottom: 0;
  }
  .social-links--tableted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1600px) {
  .social-links {
    margin-bottom: 60px;
  }
  .social-links--footered {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.m-socials__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.m-socials__item {
  position: relative;
}

.m-socials__item::after {
  content: '';
  position: absolute;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 22px;
  right: -12px;
  top: -3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.m-socials__item:last-of-type:after {
  display: none;
}

.partners .partners__title {
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.partners .partners__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partner {
  height: 92px;
}

.partner__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  fill: #afb1b8;
}

.partner__link:hover, .partner__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .partners__item {
    width: calc(46.67%);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .partners__item:nth-child(2n) {
    margin-right: 0;
  }
  .partners__item:nth-child(n + 5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1599px) {
  .partners__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .partners__item {
    width: calc(30.0033%);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .partners__item:nth-last-child(3n - 2) {
    margin-right: 0;
  }
  .partners__item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1600px) {
  .partners__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
  .partners__item {
    width: calc(14.5166%);
    margin-right: 30px;
  }
  .partners__item:last-child {
    margin-right: 0;
  }
}

.button__hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 31px;
}

.button__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1600px) {
  .button__subscribe {
    margin-left: 12px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.button__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  fill: #ffffff;
}

.portfolio__button {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #212121;
  background-color: #f5f4fa;
}

.portfolio__button:hover, .portfolio__button:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__button-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.portfolio__button-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio__button-item:last-child {
  margin-right: 0;
}

.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: auto;
  margin: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.button-close:hover, .button-close:focus {
  color: #2196f3;
  fill: currentColor;
}

.button-close__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-submit {
  display: block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
}

.btn-submit__text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.m-button {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #212121;
  background-color: #ffffff;
}

.m-button__icon:hover, .m-button__icon:focus {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2196f3;
}

.m-button-close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  padding: auto;
  margin: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.m-button-close:hover, .m-button-close:focus {
  color: #2196f3;
  fill: currentColor;
}

.m-button-close__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio__button-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.portfolio__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.portfolio__card-item {
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-item:hover, .portfolio__card-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card-item:last-child {
  margin-bottom: 0;
}

.card-picture {
  display: block;
}

.card {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.card:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card:hover .card--hover-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(calc(100%));
          transform: translateY(calc(100%));
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.card--hover-overlay {
  position: absolute;
  display: block;
  width: 370px;
  height: 294px;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(calc(100%));
          transform: translateY(calc(100%));
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: left;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.card__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.card__border {
  padding: 20px 24px;
  width: 100%;
  text-align: left;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.address {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.65;
  letter-spacing: 0.03em;
}

.address__item {
  margin-bottom: 8px;
  color: #ffffff;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.address-wrapper {
  margin-bottom: 60px;
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form__input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  margin: 0 0 20px 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .footer-conteiner {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1599px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-self: center;
  }
  .footer-block--positioned {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
  .address-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .address__list {
    text-align: center;
  }
}

@media screen and (min-width: 1600px) {
  .footer-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
  }
  .footer-block--positioned {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .address-wrapper {
    margin-bottom: 0;
  }
  .footer-form {
    margin-left: 93px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 5px;
  }
  .footer-form__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.backdrop {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

.form-block {
  padding: 40px 40px;
}

.form-block__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-block__agreement {
  margin-top: 20px;
}

.form {
  margin-top: 10px;
}

.form:first-child {
  margin-top: 0;
}

.form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__wrapper:focus-within {
  fill: #2196f3;
}

.form__label {
  stroke: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  display: block;
  width: 370px;
  height: 40px;
  padding: 10px 5px 10px 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus-within {
  border-color: #2196f3;
}

.form__logo {
  position: absolute;
  display: inline-block;
  top: 11px;
  left: 12px;
  color: #212121;
}

.form__input--comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form__input--comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input--comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input--comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input--comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox:checked + .checkbox__icon {
  border: none;
  background-color: #2196f3;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: #ffffff;
}

.agreement {
  display: inline-block;
  margin-left: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.agreement__link {
  display: inline-block;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.m-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #ffffff;
}

.m-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.m-backdrop .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.m-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

.m-nav {
  width: 480px;
  height: 100%;
  padding: 48px 83px 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-nav__item {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.m-nav__item:last-child {
  margin-bottom: 0;
}

.m-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  cursor: pointer;
  border: none;
  color: #212121;
  background-color: #ffffff;
}

.m-nav__link--current {
  color: #2196f3;
}

.m-contacts {
  margin-bottom: 64px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.m-contacts__link {
  display: inline-block;
  cursor: pointer;
  color: #757575;
}

.m-contacts__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.m-contacts__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.m-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
/*# sourceMappingURL=main.css.map */