// Стили кнопок проекта

// Стили кнопки героя - Заказать услугу

.button__hero {
  display: block;
  @extend %button;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 31px;
}

// Стили кнопки подписаться в футере

.button__subscribe {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  @extend %button;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $desktop-min) {
    margin-left: 12px;
    flex-wrap: nowrap;
  }
}

.button__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  fill: $primary-white-color;
}

// Стили фильтров страницы портфолио

.portfolio__button {
  transition: background-color $animation-var, color $animation-var;
  padding: 6px 22px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: $title-text-color;
  background-color: $team-background-color;

  &:hover,
  &:focus {
    background: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (max-width: $tablet-max) {
  .portfolio__button-item {
    margin-right: 8px;
    margin-bottom: 15px;

    &:nth-last-child(2n - 3) {
      margin-right: 0;
    }

    &:first-child {
      margin-right: 8px;
    }

    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }
  .portfolio__button-list {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
  .portfolio {
    &__button-list {
      margin-bottom: 30px;
      align-items: start;
      justify-content: center;
    }

    &__button-item {
      margin-right: 8px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .portfolio {
    &__button-list {
      margin-bottom: 50px;
      justify-content: center;
    }

    &__button-item {
      margin-right: 8px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Стили кнопки Close модального окна

.button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: auto;
  margin: 0;
  transition: color $animation-var;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $primary-white-color;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: currentColor;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Стили кнопки Submit модального окна

.btn-submit {
  display: block;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $accent-color;

  &__text {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $primary-white-color;
  }
}

// Стили кнопки открытия модального окна навигации для Mobile

.m-button {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  color: $title-text-color;
  background-color: $primary-white-color;

  &__icon {
    &:hover,
    &:focus {
      transition: fill $animation-var;
      fill: $accent-color;
    }
  }
}

// Стили кнопки закрытия модального окна навигации для Mobile

.m-button-close {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  padding: auto;
  margin: 0;
  transition: color $animation-var;
  cursor: pointer;
  border: none;
  background-color: $primary-white-color;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: currentColor;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
