// Стили карточек

.card-picture {
  display: block;
}

.card {
  position: relative;
  display: block;
  overflow: hidden;

  &:hover {
    &::before {
      transform: translateY(0);
    }
  }
  &:hover {
    .card--hover-overlay {
      transform: translateY(0);
    }
  }

  &::before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(calc(100%));
    transition: transform $animation-var;
    background-color: rgba(33, 150, 243, 0.9);
  }
}

.card--hover-overlay {
  position: absolute;
  display: block;
  width: 370px;
  height: 294px;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100%));
  transition: transform $animation-var;
  text-align: left;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}

.card__title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.card__border {
  padding: 20px 24px;
  text-align: left;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
