// Стили секции преимуществ

.features__conteiner {
  @extend %conteiner;
}

.icon__wrapper {
  @extend %flex-centered;
  min-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $team-background-color;
  border: none;
  border-radius: 4px;
}

.features {
  @extend %section;

  &__list {
    // @extend %flex-centered;
    @extend %list-nomarked;
    // margin-bottom: 94px;
  }

  &__item {
    margin-bottom: 30px;
    // max-width: 270px;
    // margin-right: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }
}
