// Стили контактов хедера

.contacts__link {
  @extend %link-nolined;
}

.contacts__list {
  @extend %list-nomarked;
}

.contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  fill: currentColor;

  &__icon {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }

  &__link {
    @extend %hovered-focused;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-text-color;
  }

  &__text {
    display: inline-flex;
    margin-left: 10px;
  }
}

.contacts__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
  .contacts {
    font-size: 12px;

    &__item {
      margin-right: 0;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      justify-content: flex-start;
    }

    &__icon--mail {
      width: 14px;
      height: 10px;
    }

    &__icon--phone {
      width: 10px;
      height: 14px;
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .contacts {
    margin-left: auto;
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__icon--mail {
      width: 16px;
      height: 12px;
    }

    &__icon--phone {
      width: 10px;
      height: 16px;
    }
  }
}
