// Стили модального окна

.backdrop {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  .is-hidden {
    .modal {
      transform: translate(-50%, -50%) scale(0);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  transition: transform $animation-var;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $primary-white-color;
}

.form-block {
  padding: 40px 40px;

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  &__agreement {
    margin-top: 20px;
  }
}

.form {
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }

  &__wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
    transition: fill $animation-var;

    &:focus-within {
      fill: $accent-color;
    }
  }

  &__label {
    stroke: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &__title {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &__input {
    display: block;
    width: 370px;
    // width: 448px;
    height: 40px;
    padding: 10px 5px 10px 42px;
    transition: border-color $animation-var;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus-within {
      border-color: $accent-color;
    }
  }

  &__logo {
    position: absolute;
    display: inline-block;
    top: 11px;
    left: 12px;
    color: $title-text-color;
  }
}

.form__input--comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.agreement-wrapper {
  @extend %flex-centered;
}

.checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  // правило для зачеканого кастомного чекбокса
  &:checked + &__icon {
    border: none;
    background-color: $accent-color;
  }

  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    // margin-left: 14px;
    transition: background-color $animation-var, border $animation-var;
    border: 2px solid #000000;
    border-radius: 2px;
    background-color: $primary-white-color;
  }
}

.agreement {
  display: inline-block;
  margin-left: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  // font-size: 14px;
  // line-height: 1.71;
  letter-spacing: 0.03em;

  &__link {
    display: inline-block;
    // margin-left: 5px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    // font-size: 14px;
    // line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: $accent-color;
  }
}
