// Стили секции партнеров

.partners {
  @extend %section;

  &__conteiner {
    @extend %conteiner;
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  &__list {
    @extend %flex-centered;
    @extend %list-nomarked;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: $mobile-max) {
  .partners__item {
    width: 210px;
    min-width: calc(#{50%-3.33%});
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(n + 5) {
      margin-bottom: 0;
    }
  }
}

.partner {
  height: 92px;

  &__link {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color $animation-var, border $animation-var, fill $animation-var;
    cursor: pointer;
    border: 1px solid $partners-text-color;
    border-radius: 4px;
    color: $partners-text-color;
    fill: $partners-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
      border: 1px solid $accent-color;
      fill: $accent-color;
    }
  }
}

@media screen and (max-width: $tablet-max) {
  .partners__item {
    min-width: calc(#{50%-3.33%});
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(n + 5) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
  .partners__item {
    width: calc(#{33.3333%-3.33%});
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-last-child(3n - 2) {
      margin-right: 0;
    }
    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: $desktop-min) {
  .partners {
    &__title {
      margin-bottom: 50px;
      font-size: 36px;
    }

    &__item {
      width: calc(#{16.6666%-2.15%});
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
