// Стили страницы портфолио

.portfolio {
  @extend %section;
}

.portfolio__conteiner {
  @extend %conteiner;
}

.portfolio__button-list {
  @extend %list-nomarked;
  @extend %flex-centered;
  flex-wrap: wrap;
}

.portfolio__card-list {
  display: flex;
  flex-wrap: wrap;
  @extend %list-nomarked;
}

.portfolio__card-item {
  margin-bottom: 30px;
  transition: box-shadow $animation-var;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:last-child {
    margin-bottom: 0;
  }

  // &:nth-child(3n + 1) {
  //   margin-left: 0;
  // }

  // &:nth-last-child(-n + 3) {
  //   margin-bottom: 0;
  // }
}

.portfolio__card-link {
  @extend %link-nolined;
}

@media screen and (max-width: $tablet-max) {
  .portfolio__button-list {
    justify-content: start;
  }

  .portfolio__card-list {
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
  .portfolio__card-item {
    width: 354px;
    height: 440px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:nth-child(even) {
      margin-right: 0;
    }
    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
  .portfolio__card-link {
    height: 100%;
  }
}

@media screen and (min-width: $desktop-min) {
  .portfolio__card-item {
    width: 370px;
    height: 404px;
    margin-left: 30px;
    margin-bottom: 30px;

    &:nth-child(3n + 1) {
      margin-left: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
