// Стили секции производства

.production {
  display: block;

  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    color: $title-text-color;
  }

  &__list {
    @extend %list-nomarked;
    @extend %flex-centered;
  }

  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__image {
    display: block;
    max-width: 100%;
  }

  &__description {
    position: absolute;
    height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: $primary-white-color;
  }
}
