// Стили соц. сетей

.social-list {
  @extend %flex-centered;
  @extend %list-nomarked;
  padding: 0 32px 24px;

  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  &--nopadding {
    margin: 0;
    padding: 0;
  }
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: #afb1b8;
  background-color: $primary-white-color;
  fill: currentColor;
  @extend %hovered-focused-bg;

  &--footered {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: $primary-white-color;
    background-color: rgba(255, 255, 255, 0.1);
    fill: currentColor;
    @extend %hovered-focused-bg;
  }
}

.social-links {
  margin-bottom: 60px;
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
  }

  &--footered {
    align-self: flex-start;
  }
}

@media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
  .social-links {
    margin-bottom: 0;

    &--tableted {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
      margin-left: 165px;
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .social-links {
    margin-bottom: 60px;

    &--footered {
      margin-left: 70px;
      margin-top: 15px;
    }
  }
}

// Стили социальных сетей модального окга навигации для Mobile

.m-socials {
  &__list {
    @extend %flex-centered;
    @extend %list-nomarked;
    justify-content: space-between;
  }

  &__link {
    @extend %link-nolined;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}

.m-socials__item {
  position: relative;
}

.m-socials__item::after {
  content: '';
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  height: 22px;
  right: -12px;
  top: -3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.m-socials__item:last-of-type:after {
  display: none;
}
