// Стили секции команды

.team {
  @extend %section;
  background-color: $team-background-color;

  &__conteiner {
    @extend %conteiner;
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    color: $title-text-color;
  }

  &__list {
    @extend %list-nomarked;
  }
}

.team-member {
  width: 450px;
  height: 622px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  @media screen and(min-width: 320px) and (max-width: $mobile-max) {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    margin-right: auto;
    margin-left: auto;
  }

  &__name {
    padding: 30px 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  &__position {
    padding-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

@media screen and (min-width: 320px) and (max-width: $mobile-max) {
  .team-member {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: $tablet-min) and (max-width: $desktop-max) {
  .team {
    &__list {
      flex-wrap: wrap;
    }
  }

  .team-member {
    width: 354px;
    height: 536px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(n + 5) {
      margin-bottom: 0;
    }

    &__img {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: $tablet-min) {
  .team {
    &__list {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

@media screen and (min-width: $desktop-min) {
  .team {
    &__title {
      text-align: center;
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  .team-member {
    width: 270px;
    height: 428px;
    margin-right: 30px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
