// Стили секции команды

.team {
  @extend %section;
  background-color: $team-background-color;

  &__conteiner {
    @extend %conteiner;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    color: $title-text-color;
  }

  &__list {
    // @extend %flex-centered;
    @extend %list-nomarked;
  }
}

.team-member {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // margin-right: 30px;
  margin-bottom: 30px;

  &:last-child {
    // margin-right: 0;
    margin-bottom: 0;
  }

  &__name {
    padding: 30px 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  &__position {
    padding-bottom: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}
