// Плейсхолдеры

%section {
  padding-top: 60px;
  padding-bottom: 60px;
}

%conteiner {
  width: 480px;
  padding: 0 15px 0 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    width: 768px;
  }
}

%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%link-nolined {
  text-decoration: none;
}

%list-nomarked {
  list-style: none;
}

%button {
  width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  background-color: $accent-color;
  color: $primary-white-color;
}

%hovered-focused {
  &:hover,
  &:focus {
    transition: color $animation-var;
    color: $accent-color;
  }
}

%hovered-focused-bg {
  &:hover,
  &:focus {
    transition: fill $animation-var, background-color $animation-var;
    fill: $primary-white-color;
    background-color: $accent-color;
  }
}

%self-grow {
  align-self: stretch;
}
